<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <div class="container">
        <form action="/quiz" method="POST">
            <label for="question">Question</label>
            <input type="text" name="question">
            <br>
            <input type="radio" name="answer_1">
            <label for="answer_1">
            <label for="choice_1">Choice 1</label>
            <input type="text" name="choice_1">
            </label>
            <br>
            <input type="radio" name="answer_2">
            <label for="answer_2">
            <label for="choice_2">Choice 2</label>
            <input type="text" name="choice_2">
            </label>
            <br>
            <input type="radio" name="answer_3">
            <label for="answer_3">
            <label for="choice_3">Choice 3</label>
            <input type="text" name="choice_3">
            </label>
            <br>
            <input type="radio" name="answer_4">
            <label for="answer_4">
            <label for="choice_4">Choice 4</label>
            <input type="text" name="choice_4">
            </label>
            <br>
            <input type="submit" value="Add">
        </form>
    </div>
</body>

</html>